<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {titulo: "GloriososClub - Tienda de Indumentaria deportiva"}) %> 
<link rel="stylesheet" href="/css/home.css">
<body>
    <%- include("partials/header") %> 
    <main>
        <h1> PRODUCTOS EN OFERTAS </h1>
        <div class="todos-los-articulos">
            <% oferta.forEach(p =>{ %>
                  
                <article class="articulos">
                    <a class="detalleProducto" href="/products/productDetail/<%= p.id %>">
                    <div><h3 class="nombre"><%= p.name %> </h3></div>
                    <img src="/images/<%= p.image %> " alt="">
                    <div class="descripcion">
                        
                        <div class="precio">Precio publicado: $ <del><%= p.price %></del></div>
                        <div class="descuento"> Con descuento del % <%= p.discount %></div>
                        <div class="precioFinal">Precio final : $ <%= p.price * ((100-p.discount)/100) %></div>
                        <p class="categoria"><%= p.category %> </p>
                        <div class="boton-detalles"><a href="/products/productDetail"></a></div>
                    </div>
                    </a>
                </article>
                
                <% }) %> 
        <!--     <i class="fab fa-whatsapp whatsapp"></i> -->
        </div>
    </main>
    <%- include("partials/footer") %> 
</body>

</html>