<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {titulo: "Entrá a tu cuenta" }) %>
    <link rel="stylesheet" href="/css/login.css">

    <body>
        <%- include("partials/header") %>
            <main>
                <form action="/users/login" method="POST" class="form-container">
                    <div class="nombre">
                        <label for="">
                            <input type="text" name="email" placeholder="email" class="input-text email" value="<%= locals.oldData ? oldData.email : null %>" />
                            <div class="errorEmail validacionesFront"></div>
                        </label>
                        <% if(locals.errors && errors.email){ %>
                            <div class="error">
                                <%= errors.email.msg %> 
                            </div>
                        <% } %> 
                        <% if(locals.emailInvalido){ %>
                            <div class="error">
                                <%= locals.emailInvalido %> 
                            </div>
                        <% } %>   
                    </div>
                    <div>
                        <input type="password" placeholder="Ingrese su contraseña" class="input-password" name="password" />
                        <% if(locals.errors && errors.password){ %>
                            <div class="error">
                                <%= errors.password.msg %> 
                            </div>
                        <% } %> 
                        <% if(locals.passwordIncorrecto){ %>
                            <div class="error">
                                <%= locals.passwordIncorrecto %> 
                            </div>
                        <% } %> 
                    </div>
                    <div class="olvidar">
                        <p><a href='#'>¿Olvidaste tu Contraseña?</a></p>
                        <p><label for="recordame">Recordame <input type="checkbox" name="recordame"></label></p>
                        
                        <p><a href="/users/register">Registrarse</a></p>
                    </div>
                    <div class="boton">
                        <button type="submit">Ingresar</button>
                    </div>
                </form>
            </main>
            <%- include("partials/footer") %>
            <script src="/js/login.js"></script>
    </body>

</html>