<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", {titulo: "Agregar nuevo producto"}) %> 
    <link rel="stylesheet" href="/css/productCreate.css">
    <!-- <link rel="stylesheet" href="/css/productDetail.css"> -->
    <link rel="stylesheet" href="/css/login.css">
<body>
    <%- include("partials/header") %>
    <main>
    <form action="/products" method="POST" class="form-container" enctype="multipart/form-data" >
        <div class="nombre">
            
                <input type="text" name="name" placeholder=" Nombre del producto: Ej: Zapatillas Reebok" class="input-text">
        </div>
        <div class="descripcion">
            <textarea name="descripcion" id="descripcion" rows="5" cols="50" class="input-text" placeholder="Descripcion del producto"></textarea>
        </div> 
        <div class="categoria">
            <label for="categoria" class="form-label">Descuento</label>
            <select name="discount" id="categoria" class="form-text">
                <option value="0" selected >Sin descuento</option>
                <% for (let i = 0; i < 17; i++) { %>
                    <% let desc = i * 5 %> 
                    <option value="<%= desc %>"><%= desc %>% </option>
                <% } %>
            </select>    
        </div>
        <div class="categoria">
            <label for="categoria" class="form-label">Categoria:</label>
            <select name="category" id="categoria" class="form-text">
                <option value="" selected disabled>Selec Categoria</option>
                <% fk[3].forEach((cat)=>{ %>
                    <option value="<%= cat.id %>"><%= cat.category %> </option>
                <% }) %> 
            </select>    
        </div>
        
        <div class="categoria">
            <label for="categoria" class="form-label">Deporte:</label>
            <select name="sport" id="categoria" class="form-text">
                <option value="" selected disabled>Selec Deporte</option>
                <% fk[1].forEach((sport)=>{ %>
                    <option value="<%= sport.id %>"><%= sport.sport %> </option>

                <% }) %> 
                <option value="otro">Otro</option>
            </select>    
        </div>
        <div class="categoria">
            <label for="categoria" class="form-label">Genero:</label>
            <select name="genre" id="categoria" class="form-text">
                <option value="Hombre" >Hombre</option>
                <option value="Mujer" >Mujer</option>
                <option value="Ni単o" >Ni単o</option>
                <option value="Ni単a" >Ni単a</option>
            </select>    
        </div>
        <div class="categoria">
            <label for="size" class="form-label">Talle:</label>
            <select name="size" id="categoria" class="form-text">
                <option value="" selected disabled >Talle</option>
                <% fk[0].forEach((size)=>{ %>
                    <option value="<%= size.id %>"><%= size.size %> </option>

                <% }) %> 
                
            </select>    
        </div>
        <div>
            
            <input type="text" id="precio" name="precio" placeholder="Precio del producto Ej: 5678" class="precio" >
        </div>

        <div class="buscarImagen">
            <input type="file" name="imagenProducto">
        </div>

        <div class="guardarProducto">
            <button type="submit">Guardar Producto</button>
        </div>

    </form>
</main>
    <%- include("partials/footer") %> 
</body>

</html>