<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", {titulo: "Agregar nuevo producto"}) %> 
    <link rel="stylesheet" href="/css/productCreate.css">
    <!-- <link rel="stylesheet" href="/css/productDetail.css"> -->
    <link rel="stylesheet" href="/css/login.css">
<body>
    <%- include("partials/header") %>
    <main>
    <form action="/products/productEdit/<%= producto.id %>?_method=PUT" method="POST" class="form-container">
        <div class="nombre">
            <label for="">
                <input type="text" name="name" placeholder="<%= producto.nombre %>" value="<%= producto.nombre %>" class="input-text">
            </label>
        </div>
        <div class="nombre">
            <textarea class="input-text" rows="5" placeholder="<%=producto.descripcion%>" name="descripcion"><%=producto.descripcion%></textarea>
            <div class="categoria">
                <label for="categoria" class="form-label">Categoria:</label>
                <select name="categoria" id="categoria" class="form-text" >
                    <option value="" selected >Todas</option>
                    <option value="futbol">Fútbol</option>
                    <option value="basquet">Básquet</option>
                    <option value="boxeo">Boxeo</option>
                    <option value="otro">Otro</option>
                </select>    
            </div>
        <div>
            
            <input type="text" id="precio" name="precio" value=" $<%=producto.precio%>" class="precio" >
        </div>

        <div class="buscarImagen">
            <input type="file" name="imagenNuevoArchivo">
        </div>
        <div>
            <button type="submit">Confirmar cambio</button>
        </div>
        <div>
            <button type="reset">Cancelar cambios</button>
        </div>
        <div>
            <form action="/" method="GET"></form>
            <button type="submit">Volver</button>
        </div>

    </form>
</main>
    <%- include("partials/footer") %> 
</body>

</html>