<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", {titulo: "Agregar nuevo producto"}) %> 
    <link rel="stylesheet" href="/css/productCreate.css">
    <!-- <link rel="stylesheet" href="/css/productDetail.css"> -->
    <link rel="stylesheet" href="/css/login.css">
<body>
    <%- include("partials/header") %>
    <main>
    <form action="/" method="POST" class="form-container">
        <div class="nombre">
            <label for="">
                <input type="text" name="username" placeholder="Nombre del producto" value="<%= producto.nombre %> " class="input-text">
            </label>
        </div>
        <div class="nombre">
            <textarea class="input-text" rows="5"> Descripción
               <%= producto.descripcion %> 
            </textarea>
        </div>
        
        <div class="nombre">
            <input type="text" placeholder="Categoria" value="<%= producto.categoria %> " class="input-text">
        </div>

        <div class="nombre">
            <input type="text" placeholder="Precio" value="$ <%= producto.precio %> " class="input-text">
        </div>

        <div class="buscarImagen">
            <input type="file" name="imagenNuevoArchivo">
        </div>

    </form>
</main>
    <%- include("partials/footer") %> 
</body>

</html>