<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {titulo: "GloriososClub - Detalle producto" }) %>
    <link rel="stylesheet" href="/css/productDetail.css">
    
    <body>
        <%- include("partials/header") %>
            <main>
                <div class="imagen-descripcion">
                    <div class="imagen">
                        <img class="imagenProducto" src="/images/<%= producto.image %> " alt="">
                    </div>
                    <div class="descripcion-detalle">
                        <div class="nombreTablets"><%= producto.name %></div>
                        <div class="precioConOSinDescuento">
                        <% if (producto.discount==0){ %>
                        <div class="precioSinDescuento">Precio final ¡$<%= producto.price %>!</div></br>
                        <% } else { %>
                            <div class="precio">Precio original de publicación: $ <del><%= producto.price %></del></div></br>
                            <div class="descuento">¡Aprovechá el descuento del <%= producto.discount %>%!</div></br>
                            <div class="precioFinal">¡Precio final: $ <u><%= producto.price * ((100-producto.discount)/100) %></u>!</div>
                        <% } %>
                             
                        </div>
                        <br>
                        <div><b><%= producto.genre  %></b>  ---   Talle: <%= producto.talle.size %></div>
                        <div>
                            <% if(!locals.usuarioLogueado || locals.usuarioLogueado.id != producto.userId){ %>
                            <form class="unidadesSolicitadas" action="/" method="get">
                                <h3>Unidades solicitadas</h3>
                                <input class="cantidad" type="text" name="cantidad" placeholder="Ej: 1, 2, 3" id="cantidad">
                                <button class="agregarCarrito" type="submit">Agregar al carrito</button>
                            </form>
                            <form class="dejanosTuComentario" action="/" method="get">
                                <h3>¿Necesitás más detalles? Escribinos</h3>
                                <textarea class="comentarios" name="comentarios" id="" cols="30" rows="5"></textarea>
                                <button type="submit">Enviar comentario</button>
                            </form>
                            <% } %>
                        </div> 
                        <div class="descripcion-individual-compu">
                            <h3>Descripción</h3>
                            <p>
                                <%= producto.description %>
                            </p>
                            <% if(locals.usuarioLogueado){ %>  

                            <% if(locals.usuarioLogueado.id == producto.userId){%> 
                            <form action="/products/productEdit/<%= producto.id %>" method="GET" class="botonEditar">
                                <button type="submit">Editar producto</button>
                            </form>
                            <form action="/products/productDetail/<%= producto.id%>" method="POST" class="botonEditar" >
                                <button type="submit">Eliminar Producto</button>
                            </form>
                           <% } %> 

                           <% } %> 
                           <div class="volverContainer">
                            <form action="/" class="botonVolver" method="GET">
                                <button class="botonVolverInput" type="submit">Volver a OFERTAS</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="descripcion-individual">
                    <h3>Descripción</h3>
                    <p>
                        <%= producto.description %>
                    </p>
                </div>
            </main>
            <%- include("partials/footer") %>
    </body>
</html>